body{
    background-color: black;
    color: white;
}

a:visited {
    color: lightblue;
}

.Navbar {
    position: sticky;
    float: right;
    background-color: rgba(0, 0, 128, 0.600);
    margin-top: 10px;
    margin-right: 20px;

}