body{
    background-color: black;
    color:white;
}

a:visited {
    color:lightblue;
}

a:hover {
    color:white;
    background-color:grey;
}

.Navbar {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 128, 0.600);
    border-right: 20px;
}